* {
  --background: #FFF;
  --color: #000;
  outline: 0;
}

ion-fab-button {
  --background: #FFF;
  --background-activated: #FFF;
}


.my-location {
  margin-bottom: 210px;

  ion-icon {
    color: #000;
  }
}

.refresh {
  margin-bottom: 280px;
}

ion-toolbar { 
  position: fixed;
  margin: 0;
  padding: 0;
  bottom: 0;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;

  ion-list {
    font-weight: 200;

    ion-item {
      font-size: 10pt;
      color: #000;
      cursor: pointer;
      font-weight: 400;
      font-style: italic;
      
      span {
        color: #999999;
        font-style: normal;
      }
    }
  }
}

.map {
  z-index: 1;
  color: #000;
}

ion-segment {
  margin: 5px 0;
  position: absolute;
  right: 0;
  margin: 20px;
  border-radius: 10px;
  height: 30px;
  z-index: 1;
  box-shadow: 0 0 1em gray;

  // ion-segment-button:nth-last-child(1n+2) {
  //   border-right: 1px solid rgb(219, 219, 219);
  // }

  ion-segment-button {
    --indicator-color: #FFF;
    --color-checked: #F00;
    padding: 0;
    margin: 0;

    ion-icon {
      padding: 0;
      margin: 0;
      font-size: 18px;
    }
  }

}