<div #map class="map"></div>

<ion-fab class="back" vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button (click)="back()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-segment mode="ios" scrollable value={{travelMode}} (ionChange)="changeTravelMode($event)">
  <ion-segment-button value="DRIVING">
    <ion-icon name="car-sharp"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="BICYCLING">
    <ion-icon name="bicycle-sharp"></ion-icon>
  </ion-segment-button>
  <ion-segment-button value="WALKING">
    <ion-icon name="walk-sharp"></ion-icon>
  </ion-segment-button>
</ion-segment>

<ion-fab class="my-location" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="getCurrentLocation()">
    <ion-icon name="locate"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab class="refresh" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="refresh()" disabled={{refreshFlag}}>
    <ion-icon name="refresh"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-footer>
  <ion-toolbar>
    <ion-list mode="ios" *ngFor="let user of users">
      <ion-item button>
        <ion-label>
          <h3>{{user.name}} <span>{{user.temp.duration !== undefined ? 'está a ' + user.temp.duration + (user.temp.duration > 1 ? ' minutos' : ' minuto') + ' de distância' : 'Localização desconhecida'}}</span></h3>
          <h4>Última atualização: <span>{{user.temp.updatedAt !== undefined ? user.temp.updatedAt : 'Desconhecido'}}</span></h4>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-footer>