ion-header {

  ion-toolbar {
  
    margin-bottom: 20px;

    --background: #4ECDC4;

    ion-menu-button {
      color: #FFF;
    }
  
  }
  
}

ion-menu {
  
  color: #9E9E9E;

  ion-toolbar {
    --background: #F8F8F8;
  }
  
  ion-item {

    transition: 0.5s;

  }

  ion-item:active {
    opacity: 0.4;       
  }
  

  ion-icon {
    color: #385A64;
  }
  
  ion-footer {
    margin: 10px auto;
    text-align: center;
    color: #9E9E9E;
  }
}


ion-icon {
  color: #ff5252;
}

ion-card {
  border-radius: 15px;
  --background: #FFF;

  margin: 20px;

  .card-container {

    margin: 10px 20px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 12pt;
        text-transform: uppercase;
        color: #385A64;
        margin: 0;
      }
    }

    .body {

      outline: 0;
      color: #000;
      margin-top: -5px;

      .title {
        font-weight: 500;
        font-size: 10pt;
        text-transform: uppercase;
      }

      .subtitle {
        font-size: 10pt;
        margin: 0px;
        padding: 0px; 
        font-weight: 200;
      }

      .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    }

    hr {
      height: 1px;
      margin-top: 20px;
      background-color: #dadada;
    }

    .footer{
      outline: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #4ECDC4;
    }

  }
}

.alone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  height: 100%;
  color: #9E9E9E;
  padding: 20px;

  h3 {
    line-height: 30px;
    font-weight: 200;
  }

  ion-fab-button, ion-icon {
    color: #FFF;
    --background: #4ECDC4;
  }
  
}

.create-button {
  ion-fab-button, ion-icon {
    color: #FFF;
  }
}
