<ion-app>
  <ion-menu side="start" menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Opções</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item button (click)="profile()"><ion-avatar slot="start"><ion-icon name="person-circle-outline" color="turquoise-dark" size="large"></ion-icon></ion-avatar>{{user.name}}</ion-item>
        <ion-item button (click)="showContacts()"><ion-icon slot="start" name="people-outline"></ion-icon>Contatos</ion-item>
        <ion-item button (click)="alertAddContact()"><ion-icon slot="start" name="person-add-outline"></ion-icon>Adicionar amigo</ion-item>
        <ion-item button (click)="alertNotification()"><ion-icon slot="start" name="{{this.user.receiveNotifications ? 'notifications-outline' : 'notifications-off-outline'}}"></ion-icon>Notificações</ion-item>
        <ion-item button (click)="alertLogout()"><ion-icon slot="start" name="log-out-outline"></ion-icon>Sair</ion-item>
      </ion-list>
    </ion-content>
    <ion-footer class="ion-no-border" mode="md">
      <span>SLVXERY</span>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  
  <ion-header class="ion-no-border" mode="md">
    <div class="logo">
      <img src="../../assets/logo.png" alt="">
    </div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <!-- <ion-menu-button menu="main-menu"></ion-menu-button> -->
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <div *ngIf="meetings.length === 0" class="alone">

      <h3>Poxa, parece que você não tem nenhum encontro. Que tal criar um?</h3>
  
      <ion-fab-button vertical="center" horizontal="center" slot="fixed" routerLink="/meetings/create">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  
    </div>

    <div *ngFor="let meeting of meetings">
      <ion-card>
        
        <div class="card-container">
          
          <div class="header">
            <h2 class="title">{{meeting.name}}</h2>
            <ion-icon button name="location-sharp" size="large" routerLink="{{meeting.id}}/map"></ion-icon>
          </div>
          
          <div button routerLink="{{meeting.id}}/chat" class="body">
            
            <h3 class="title">Ponto Final</h3>
            <h4 class="subtitle">{{meeting.location.address}}</h4>
            
            <div class="flex">
              <div>
                <h3 class="title">Horário</h3>
                <h4 class="subtitle">{{meeting.time}}</h4>
              </div>
              <div>
                <h3 class="title">Data</h3>
                <h4 class="subtitle">{{meeting.date}}</h4>
              </div>
            </div>
            
          </div>
          
        </div>
        
      </ion-card>

    </div>

    <div *ngIf="meetings.length > 0">
  
      <ion-fab class="button-float">
        <ion-fab-button class="create-button" color="turquoise" routerLink="/meetings/create">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  
    </div>
    
  </ion-content>
</ion-app>