ion-header ion-toolbar {

  --background: var(--ion-color-turquoise);
  color: #FFF;
  
  ion-buttons {
    display: flex;
    align-self: flex-start;
  }
  
  ion-title {
    margin-top: 100px;
    padding: 10px;
    font-weight: normal;
  }
}

.photo {
  padding-top: 20px;
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 100%;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;

  .iconEdit {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--ion-color-turquoise);
    // top: 190px;
	  // right: 120px;
    top: 300px;
	  right: 120px;
    display: flex;
    justify-content: center;

    ion-icon {
      color: #FFF;
      margin: auto;
      font-size: 18pt;
    }

  }

  img {
    border-radius: 100%;
  }

}

form {
  
  .list {
    position: absolute;
    font-weight: 200;
    z-index: 100;
    width: 80%;
    margin: -10px 20px 0px 20px;
    border-radius: 20px 20px 5px 5px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #FCFCFC;
    color: #000;
  
    .item {
      font-size: 10pt;
      font-weight: 400;
      margin: 0px;
      cursor: pointer;
      
      span {
        display: block;
        color: #385A64;
        // float: right;
      }
    }

  }

  ion-icon {
    color: var(--ion-color-turquoise-dark);
    font-size: 24px;

  }

}
