<ion-header class="">
  <ion-toolbar>
    <ion-title>
      ENCONTROS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/meetings/create']">
        <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let meeting of meetings">
    <ion-card>

      <div class="card-container">
    
        <div class="header">  
          <h2 class="title">{{meeting.name}}</h2>
          <ion-icon button name="location-sharp" size="large" routerLink="{{meeting.id}}/map"></ion-icon>
        </div>
    
        <div button routerLink="{{meeting.id}}/chat" class="body">
    
          <h3 class="title">Ponto Final</h3>
          <h4 class="subtitle">{{meeting.location.address}}</h4>
    
          <div class="flex">
            <div>
              <h3 class="title">Horário</h3>
              <h4 class="subtitle">{{meeting.time}}</h4>
            </div>
            <div>
              <h3 class="title">Data</h3>
              <h4 class="subtitle">{{meeting.date}}</h4>
            </div>
          </div>
    
        </div>
    
      </div>
    
    </ion-card>
  </div>

</ion-content>
