<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      ENCONTROS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="changeText" onClick="toggleText()">
        <ion-icon slot="icon-only" size="large" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <div class="card-container">

      <div class="header">  
        <h2 class="title">Atividades Físicas</h2>
        <ion-icon name="location-sharp" size="large"></ion-icon>
      </div>

      <div class="body">

        <h3 class="title">Ponto Final</h3>
        <h4 class="subtitle">Parque Bosque Maia</h4>

        <div class="flex">
          <div>
            <h3 class="title">Horário</h3>
            <h4 class="subtitle">18:00</h4>
          </div>
          <div>
            <h3 class="title">Data</h3>
            <h4 class="subtitle">25/12/2020</h4>
          </div>
        </div>

      </div>

      <hr/>

      <div class="footer">

        <h4>Ver mais detalhes</h4>

        <ion-icon size="medium" name="arrow-forward-sharp"></ion-icon>

      </div>

    </div>

  </ion-card>

  <ion-card>

    <div class="card-container">

      <div class="header">  
        <h2 class="title">Reencontro turma 2015</h2>
        <ion-icon name="location-sharp" size="large"></ion-icon>
      </div>

      <div class="body">

        <h3 class="title">Ponto Final</h3>
        <h4 class="subtitle">Centro de Convenções Rotary</h4>

        <div class="flex">
          <div>
            <h3 class="title">Horário</h3>
            <h4 class="subtitle">20:00</h4>
          </div>
          <div>
            <h3 class="title">Data</h3>
            <h4 class="subtitle">30/12/2020</h4>
          </div>
        </div>

      </div>

      <hr/>

      <div class="footer">

        <h4>Ver mais detalhes</h4>

        <ion-icon size="medium" name="arrow-forward-sharp"></ion-icon>

      </div>

    </div>

  </ion-card>

  <ion-card>

    <div class="card-container">

      <div class="header">  
        <h2 class="title">Cinema em familia</h2>
        <ion-icon name="location-sharp" size="large"></ion-icon>
      </div>

      <div class="body">

        <h3 class="title">Ponto Final</h3>
        <h4 class="subtitle">Parque Shopping Maia</h4>

        <div class="flex">
          <div>
            <h3 class="title">Horário</h3>
            <h4 class="subtitle">20:00</h4>
          </div>
          <div>
            <h3 class="title">Data</h3>
            <h4 class="subtitle">27/12/2020</h4>
          </div>
        </div>

      </div>

      <hr/>

      <div class="footer">

        <h4>Ver mais detalhes</h4>

        <ion-icon size="medium" name="arrow-forward-sharp"></ion-icon>

      </div>

    </div>

  </ion-card>

</ion-content>
