<ion-header class="">
  <ion-toolbar>
    <ion-title>
      ENCONTROS
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="changeText" onClick="toggleText()">
        <ion-icon slot="icon-only" size="large" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-card href="/home" title="Atividades Físicas" address="Parque Bosque Maia" time="18:00" date="27/12/2020"></app-card>
  <app-card href="/teste" title="Reencontro turma 2015" address="Centro de Convenções Rotary" time="20:00" date="30/12/2020"></app-card>
  <app-card href="/lala" title="Cinema em familia" address="Parque Shopping Maia" time="20:00" date="27/12/2020"></app-card>

</ion-content>
