ion-header ion-toolbar {
  --background: #4ECDC4;
  color: #FFF;
}

form {

  position: fixed;
  margin: 0;
  padding: 0;
  bottom: 0;

  background-color: #F8F8F8;

  .items {
    display: grid;
    grid-template-columns: 95fr 5fr;
    align-items: center;
    justify-content: center;
  }

  ion-item {
    --background: #EFF4F6;
    margin: 10px;
    width: 100%;
    padding: 0px;
  }

  ion-icon {
    color: #385A64;
    font-size: 24px;
  }

  ion-button {
    --background: transparent;
    --border-radius: 40px 40px 40px 40px;
    margin-right: 10px;
    height: 50px;
    margin-top: 20px;
  }
}

.event {
  background: #385A64B1;
  color: #FFF;
  padding: 0 2px;
  margin: auto;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 100;
  font-variant: inherit;
  text-align: center;
}

.message {
  background: #FCFCFC;
  margin: 10px;
  padding: 10px;
  white-space: pre-wrap;

  span {
    float: right;
  }
}

.my-message {

  border-radius: 20px 20px 0px 20px;

  color:#4E4B66;
  background:#FFF;

  p, span {
    color:#4E4B66;
  }

}

.other-message {
  border-radius: 20px 20px 20px 0px;

  background: #EFF4F6;

  p, span {
    color: #535353;
  }
}

h6 {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
}

span {
  font-size: 8pt;
}

.header-text:hover {
  // box-shadow: 0 0 1em gray;
  border: none;
  outline: none;
  transition: 0.5s;
  // color: #385A64;
}

.alone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  height: 100%;
  color: #9E9E9E;
  padding: 20px;

  h4 {
    line-height: 30px;
    font-weight: 200;
  }

  ion-fab-button, ion-icon {
    color: #FFF;
    --background: #4ECDC4;
    --background-activated: #4ECDC4;
  }
  
}

#messages {
  margin-bottom: 100px;
  overflow-y: auto;
}