<ion-header class="" mode="md">
  <ion-toolbar>
    <div class="header-text" routerLink="/meetings/{{meeting.id}}/details">
      <h6 class="">{{meeting.name}}</h6>
      <span>{{meeting.numberOfMembers}} {{ meeting.numberOfMembers > 1 ? "participantes" : "participante" }}</span>
    </div>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/meetings/{{meeting.id}}/map">
        <ion-icon slot="icon-only" size="small" name="location-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="meeting.numberOfMembers > 1" (click)="showModalContacts()">
        <ion-icon slot="icon-only" size="small" name="person-add-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="subpointOption.active === true" routerLink="/meetings/{{meeting.id}}/subpoint">
        <ion-icon slot="icon-only" color={{subpointOption.color}} size="small" name="bulb-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="showPopover($event)">
        <ion-icon slot="icon-only" size="small" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="meeting.numberOfMembers > 1">
    <div id="messages">
      <ion-grid *ngFor="let message of messages">
        <div *ngIf="message.type === 'message'">
          <ion-row>
            <ion-col size="9" [offset]="message.myMessage ? 3 : 0" [ngClass]="{ 'message': true, 'my-message': message.myMessage, 'other-message': !message.myMessage }">
              <h6>{{message.myMessage ? "" : message.fromName}}</h6>
              <p>{{message.message}}</p>
              <span>{{ message.createdAt?.toMillis() | date: 'short' }}</span>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="message.type !== 'message'">
          <ion-row>
            <ion-col class="event" size="7">
              {{message.message}}
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>


    <form [formGroup]="chatForm" (submit)="sendMessage()">
      <div class="items">
        <ion-item>
          <ion-input formControlName="message" type="text" placeholder="Digite uma mensagem"></ion-input>
        </ion-item>
        <ion-button [disabled]="chatForm.invalid" type="submit" fill="clear">
          <ion-icon slot="icon-only" name="send-sharp"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>

  <div *ngIf="meeting.numberOfMembers < 2" class="alone">

    <h4>Um sonho sonhado sozinho é um sonho. Um sonho sonhado junto é realidade!</h4>

    <ion-fab-button (click)="showModalContacts()">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>

  </div>

</ion-content>