form {

  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;

  .items {
    display: grid;
    grid-template-columns: 95fr 5fr;
    align-items: center;
  }

  ion-item {
    margin: 10px;
    width: 100%;
    padding: 0px;
  }

  ion-icon {
    color: #0d476b;
    // color: #FFF;
  }

  ion-button {
    // --background: transparent;
    --border-radius: 40px;
    margin-right: 10px;
    height: 50px;
  }
}

.message {
  background: #FCFCFC;
  margin: 10px;
  padding: 10px;
  white-space: pre-wrap;

  span {
    float: right;
  }
}

.my-message {

  border-radius: 20px 20px 0px 20px;

  color:#FCFCFC;
  background:#0d476b;

  p, span {
    color:#FCFCFC;
  }

}

.other-message {
  border-radius: 20px 20px 20px 0px;

  p, span {
    color: #535353;
  }
}

h6 {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 5px;
  margin-bottom: 10px;
}

span {
  font-size: 8pt;
}

.header-text:hover {
  // box-shadow: 0 0 1em gray;
  border: none;
  outline: none;
  transition: 0.5s;
  color: #0d476b;
}

.alone {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  height: 100%;
  color: #0d476b;
  padding: 20px;

  ion-fab-button, ion-icon {
    color: #0d476b;
    --background: #FFF;
  }
  
}