<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="title">
      <ion-title>Sugerir subpoint</ion-title>
      <ion-icon slot="icon-only" name="information-circle" (click)="subpointInformation()"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <form [formGroup]="registerForm" (submit)="addSubpoint()">
    
    <div class="input">
      <ion-label position="stacked">Endereço</ion-label>
      <ion-item>
        <ion-icon color="turquoise-dark" name="location-outline" slot="end"></ion-icon>
        <ion-input type="search" formControlName="address" id="address" placeholder="Endereço do subpoint" (ionChange)="searchAddress()"></ion-input>
      </ion-item>
    </div>

    <div id="addressesList" class="list">
      <ion-item button class="item" *ngFor="let address of addresses" (click)="searchSelected(address.description)">
        {{address.description}}
      </ion-item>
    </div>

    <ion-button [disabled]="registerForm.invalid" type="submit" color="turquoise-dark" expand="block" fill="solid" size="default">Sugerir Subpoint</ion-button>
        
  </form>

  <div class="subpoints">

    <ion-list mode="ios">
      <ion-list-header>
        <ion-label>Subpoints Ativos</ion-label>
      </ion-list-header>

      <div *ngIf="activeSubpoint; else noSubpoints">
        <ion-item button detail="false" (click)="subpointActive()" style="margin-top: 20px;">
          <ion-label>
            <h3>{{activeSubpoint.address}}</h3>
          </ion-label>
          <div *ngIf="activeSubpoint.accepted; else rejected">
            <ion-icon color="danger" size="small" name="exit-outline" slot="end"></ion-icon>
          </div>
          <ng-template #rejected>
            <ion-icon color="turquoise" size="small" name="enter-outline" slot="end"></ion-icon>
          </ng-template>
        </ion-item>
      </div>
      
      <ng-template #noSubpoints>
        <ion-item style="margin-top: 20px;">
          <ion-label>
            <h3>Não há nenhum subpoint ativo</h3>
          </ion-label>
        </ion-item>
      </ng-template>

    </ion-list>

  </div>

  <div class="subpoints" style="margin-top: 0px;">

    <ion-list mode="ios">
      <ion-list-header>
        <ion-label>Subpoints Pendentes</ion-label>
      </ion-list-header>

      <div *ngIf="pendingSubpoint; else noSuggestion">
        <ion-item button detail="false" (click)="subpointSuggestion()" style="margin-top: 20px;">
          <ion-label>
            <h3>{{pendingSubpoint.address}}</h3>
          </ion-label>
          <div *ngIf="pendingSubpoint">
            <ion-icon color="warning" size="small" name="open-outline" slot="end"></ion-icon>
          </div>
        </ion-item>
      </div>
      
      <ng-template #noSuggestion>
        <ion-item style="margin-top: 20px;">
          <ion-label>
            <h3>Não há nenhuma sugestão</h3>
          </ion-label>
        </ion-item>
      </ng-template>

    </ion-list>

  </div>

</ion-content>
