
.input {
  
  ion-label {
    display: block;
    margin-left: 30px;
    font-weight: lighter;
  }

}

ion-item {
  margin: 0px 20px 20px 20px;
  --background: #FCFCFC;
  --border-radius: 20px;

  --highlight-height: none;

  ion-input {
    --border-radius: 0px 20px 20px 0px;
  }
}

