<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="registerForm" (submit)="createMeeting()">

    <h3>Encontro</h3>

    <ion-item>
      <ion-icon color="" name="chatbubbles-outline" slot="start"></ion-icon>
      <ion-input type="text" formControlName="name" placeholder="Nome do grupo" autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="" name="location-outline" slot="start"></ion-icon>
      <ion-input type="search" formControlName="address" id="address" placeholder="Ponto de Encontro" (ionChange)="searchAddress()"></ion-input>
    </ion-item>

    <div class="list">
      <ion-item button class="item" *ngFor="let address of addresses" (click)="searchSelected(address.description)">
        {{address.description}}
      </ion-item>
    </div>

    <ion-item>
      <ion-icon color="" name="calendar-outline" slot="start"></ion-icon>
      <ion-input type="date" formControlName="date" placeholder="Data do Encontro"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon color="" name="time-outline" slot="start"></ion-icon>
      <ion-input type="time" formControlName="time" placeholder="Horário do Encontro"></ion-input>
    </ion-item>

    <ion-button [disabled]="registerForm.invalid" type="submit" expand="block" fill="solid" size="default">Criar Encontro</ion-button>
        
  </form>

</ion-content>
