<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Criar encontro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <form [formGroup]="registerForm" (submit)="createMeeting()">
    
    <div class="input">
      <ion-label position="stacked">Nome do grupo</ion-label>
      <ion-item>
        <ion-icon color="" name="chatbubbles-outline" slot="end"></ion-icon>
        <ion-input type="text" formControlName="name" placeholder="Nome do grupo" autofocus="true"></ion-input>
      </ion-item>
    </div>
    <div class="input">
      <ion-label position="stacked">Endereço</ion-label>
      <ion-item>
        <ion-icon color="" name="location-outline" slot="end"></ion-icon>
        <ion-input type="search" formControlName="address" id="address" placeholder="Ponto de Encontro" (ionInput)="searchAddress()" (ionChange)="clearInput()"></ion-input>
      </ion-item>
    </div>

    <div class="list">
      <ion-item button class="item" *ngFor="let address of addresses" (click)="searchSelected(address.description)">
        {{address.description}}
      </ion-item>
    </div>
    
    <div class="input">
      <ion-label position="stacked">Data do encontro</ion-label>
      <ion-item>
        <ion-input type="date" formControlName="date" placeholder="Data do Encontro"></ion-input>
      </ion-item>
    </div>
    
    <div class="input">
      <ion-label position="stacked">Horário do encontro</ion-label>
      <ion-item>
        <ion-input type="time" formControlName="time" placeholder="Horário do Encontro"></ion-input>
      </ion-item>
    </div>

    <ion-button [disabled]="registerForm.invalid" type="submit" color="turquoise-dark" expand="block" fill="solid" size="default">Criar Encontro</ion-button>
        
  </form>

</ion-content>
