* {
  --background: #F8F8F8;
  color: var(--ion-color-turquoise-dark);
}

ion-fab-button {

  --background: var(--ion-color-turquoise);
  --background-activated: var(--ion-color-turquoise);
  ion-icon {
    color: #FFF;
  }
}