ion-header ion-toolbar {
  // --background: #F8F8F8;

  text-align: center;

  img {
    padding-top: 20px;
    width: auto;
  }
}

ion-icon {
  color: #385A64;
  // color: #FFF;
}

ion-content {
  --padding-top: 50px;
}

span {
  font-size: 10pt;
}

.items {
  display: grid;
  grid-template-columns: 5fr 95fr;
  align-items: center;
  margin: 0;
}

form {
  
  .list {
    position: absolute;
    font-weight: 200;
    z-index: 100;
    width: 80%;
    margin: -10px 20px 0px 20px;
    border-radius: 20px 20px 5px 5px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #FCFCFC;
    color: #000;
  
    .item {
      font-size: 10pt;
      font-weight: 400;
      margin: 0px;
      cursor: pointer;
      
      span {
        display: block;
        color: #385A64;
        // float: right;
      }
    }

  }
}