ion-header ion-toolbar {
  // --background: #F8F8F8;

  text-align: center;

  img {
    padding-top: 20px;
    width: auto;
  }
}

.container {

  display: block;
  align-content: center;

  ion-button {
    overflow: hidden;
    margin: 30px;
    --background: #385A64;
    --border-radius: 20px;
    --background-activated: #4a7683;

    span {
      font-size: 10pt;
    }

  }
}





