ion-header ion-toolbar {
  --background: #d3d6e7;

  text-align: center;

  img {
    width: 200px;
  }
}

ion-content {

  ion-button {
    overflow: hidden;
    margin: 16px;
    --background: #0D476B;
    --border-radius: 10px;
  }
}


ion-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}




