<ion-header class="ion-no-border" mode="">
  <ion-toolbar>
    <ion-title>Amigos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" size="large" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <div *ngFor="let contact of contacts">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{contact.name}}</h2>
          <h3>{{contact.phone}}</h3>
        </ion-label>
        <ion-icon slot="end" name="trash-outline" (click)="alertDeleteContact(contact)"></ion-icon>
      </ion-item>
    </div>
  </ion-list>
</ion-content>